header{
    background-image: url(../Assets/Hero-bg.png);
    padding-bottom: 200px;
    width: 100%;
    
}

/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 51px 150px;
   
}

nav ul li{
    list-style: none;
    margin-right: 51px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
    color: #4E47FF;
}

nav li a{
    text-decoration: none;
    font-size: 16px bold;
    
}

/* button */

.btn-primary{
    background-color: #4E47FF;
    padding: 26px 36px;
    border: none;
    border-radius: 10px;
    color: white;
}

.btn-primary:hover{
    background-color: brown;
    cursor: pointer;
}

/* banner style */
.banner-content{
    font-size: 65px;
    text-align: center;
    font-weight: bold;
    color: #252432;
}
   
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  
}

.banner-container{
    text-align: center;
}

/* main */
.action{
    max-width: 1140px;
    padding: 40px 22px;
    display: flex;
    align-items: center;
    
    
}

section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 main{
    max-width: 1140px;
    margin: 0 auto;
    padding: 62px;

 }

.picture{
    border-radius: 48px;
}

.section-title{
    font-weight: 42px;
}

.section-description{
    font-weight: 24px;
    
}

/* secod box */

.second-box{
    width: 1140px;
    margin:0 auto;
    padding: 50px 80px;
    background-color: #4d47ff59;
    border-radius: 24px;
    align-items: center;
    display: inline-block;
    justify-content: space-between;
    text-align: center;
}



.item-description{
    font-weight: thin;
}

.item{
    font-weight: bolder;
    font-size: 80px;
   
}


.inter-second-item{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  display:inline-block;
    justify-content: space-around;
    text-align: center;
    
}



footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}

.m-column{
    width: 497%;
}

footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 18px 30px;
    margin-bottom: 24px;
    border: 2px solid black;
    font-size: 16px;
}


.container{
    text-align: center;
    padding: 20px;
    display: block;
}

.logo {
  font-size: 64px;
  font-weight: bold;
  color: #4c4cff; 
  margin-bottom: 20px;
}

.description {
  font-size: 16px;
  color: #999;
  margin-bottom: 30px;
}

.ullist{
    margin: 0 15px;
    text-decoration: none;
    color: #777;
    font-size: 15px;
    list-style:none;
}

ul{
    list-style:none;
    display:inline-flex;
    text-align: center;
    gap:15px;
}

